<h2>Sign In</h2>
<div class='row'>
  <div class='col-md-3'>
    <%= form_tag sessions_path do %>
      <%= label_tag :email %>
      <%= text_field_tag :email, nil, class: 'form-control' %>

      <%= label_tag :password %>
      <%= password_field_tag :password, nil, class: 'form-control' %> 

      <%= submit_tag 'Sign In', class: 'btn btn-default' %>
    <% end %>
  </div>
</div>